.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: rgb(22,22,22);
  color: hsl(0 0% 93.0%);
  z-index: 1;
}

.container {
  /* width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: relative;
  z-index: 10000;
}

.magnet {
  position: relative;
  z-index: 5;
}

.magnet.remote {
  z-index: 3;
}

.toolbar-container {
  pointer-events: all;
}
