.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: rgb(22,22,22);
  color: hsl(0 0% 93.0%);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.slotted-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  height: 100%;
  position: relative;
  gap: 8px;
  /* padding: 10px 0; */
}

.slotted-grid .pos-left {
  grid-area: left;
  background-color: rgb(33,33,33);
  /* border-bottom-right-radius: 20px; */
  /* border-top-right-radius: 20px; */
  border-right: 1px solid rgb(55,55,55);
}

.slotted-grid .pos-main {
  /* grid-area: main; */
  /* border-radius: 20px; */
  /* background-color: rgb(33,33,33); */
  /* border:1px solid red; */
}

.slotted-grid .pos-right {
  grid-area: right;
  /* border-bottom-left-radius: 20px; */
  /* border-top-left-radius: 20px; */
  background-color: rgb(33,33,33);
  border-left: 1px solid rgb(55,55,55);
}

.container {
  /* width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: relative;
  z-index: 10000;
}

.magnet {
  position: relative;
  z-index: 5;
}

.magnet.remote {
  z-index: 3;
}

.toolbar-container {
  pointer-events: all;
}
