.toolbar-container {
  position: absolute;
  top: 10px;
  display: flex;
  /* height: 24px; */
  padding: 4px 8px;
  /* background-color: gray; */
  background-color: #333333;
  /* border: 1px solid #555555; */
  border-radius: 5px;
}

.toolbar-group {
  display: flex;
  gap: 6px;
}

.toolbar-separator {
  width: 1px;
  margin: 4px 0;
  background-color: aqua;
}

.toggle-item {
  cursor: pointer;
  color: white;
  border-radius: 6px;
  padding: 2px 4px;
}

.toggle-item[data-state=on] {
  background: #a350e7d5;
}
