.toolbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  background-color: #333333;
  border-radius: 5px;
  pointer-events: all;
}

.toolbar-group {
  display: flex;
  gap: 8px;
}

.toolbar-separator {
  width: 1px;
  margin: 4px 0;
  background-color: aqua;
}

.toggle-item {
  cursor: pointer;
  color: white;
  border-radius: 6px;
  padding: 2px 4px;
}

.toggle-item[data-state=on] {
  background: #a350e7d5;
}
