.toolbar-container {
  position: absolute;
  top: 10px;
  display: flex;
  height: 24px;
  padding: 4px 8px;
  /* background-color: gray; */
  background-color: #333333;
  /* border: 1px solid #555555; */
  border-radius: 5px;
}

.toolbar-group {
  display: flex;
  gap: 6px;
}

.toggle-item {
  color: white;
}

.toggle-item[data-state=on] {
  background: #6200b360;
}
